<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountHandler</servlet-name>
        <servlet-class>com.ajava.notesboard.controllers.AccountHandler</servlet-class>
        <init-param>
            <param-name>email_username</param-name>
            <param-value>notesboard1@gmail.com</param-value>
        </init-param>
        <init-param>
            <param-name>email_password</param-name>
            <param-value>Notes100</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>com.ajava.notesboard.controllers.testServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotesController</servlet-name>
        <servlet-class>com.ajava.notesboard.controllers.NotesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VaultController</servlet-name>
        <servlet-class>com.ajava.notesboard.controllers.VaultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checklistController</servlet-name>
        <servlet-class>com.ajava.notesboard.controllers.checklistController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountHandler</servlet-name>
        <url-pattern>/AccountHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/testServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotesController</servlet-name>
        <url-pattern>/NotesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaultController</servlet-name>
        <url-pattern>/VaultController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checklistController</servlet-name>
        <url-pattern>/checklistController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
